In [30]:
from pybaseball import batting_stats
import numpy as np
import pandas as pd


# get all batting data 
batting_2022 = batting_stats(2022, ind = 1, qual = 50)

In [31]:
batting_2022.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,2B,3B,HR,R,RBI,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG,GB,FB,LD,IFFB,Pitches,Balls,Strikes,IFH,BU,BUH,BB%,K%,BB/K,OBP,SLG,OPS,ISO,BABIP,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,IFH%,BUH%,wOBA,wRAA,wRC,Bat,Fld,Rep,Pos,RAR,WAR,Dol,Spd,wRC+,WPA,-WPA,+WPA,RE24,REW,pLI,phLI,PH,WPA/LI,Clutch,FB% (Pitch),FBv,SL%,SLv,CT%,CTv,CB%,CBv,CH%,CHv,SF%,SFv,KN%,KNv,XX%,PO%,wFB,wSL,wCT,wCB,wCH,wSF,wKN,wFB/C,wSL/C,wCT/C,wCB/C,wCH/C,wSF/C,wKN/C,O-Swing%,Z-Swing%,Swing%,O-Contact%,Z-Contact%,Contact%,Zone%,F-Strike%,SwStr%,BsR,FA% (sc),FT% (sc),FC% (sc),FS% (sc),FO% (sc),SI% (sc),SL% (sc),CU% (sc),KC% (sc),EP% (sc),CH% (sc),SC% (sc),KN% (sc),UN% (sc),vFA (sc),vFT (sc),vFC (sc),vFS (sc),vFO (sc),vSI (sc),vSL (sc),vCU (sc),vKC (sc),vEP (sc),vCH (sc),vSC (sc),vKN (sc),FA-X (sc),FT-X (sc),FC-X (sc),FS-X (sc),FO-X (sc),SI-X (sc),SL-X (sc),CU-X (sc),KC-X (sc),EP-X (sc),CH-X (sc),SC-X (sc),KN-X (sc),FA-Z (sc),FT-Z (sc),FC-Z (sc),FS-Z (sc),FO-Z (sc),SI-Z (sc),SL-Z (sc),CU-Z (sc),KC-Z (sc),EP-Z (sc),CH-Z (sc),SC-Z (sc),KN-Z (sc),wFA (sc),wFT (sc),wFC (sc),wFS (sc),wFO (sc),wSI (sc),wSL (sc),wCU (sc),wKC (sc),wEP (sc),wCH (sc),wSC (sc),wKN (sc),wFA/C (sc),wFT/C (sc),wFC/C (sc),wFS/C (sc),wFO/C (sc),wSI/C (sc),wSL/C (sc),wCU/C (sc),wKC/C (sc),wEP/C (sc),wCH/C (sc),wSC/C (sc),wKN/C (sc),O-Swing% (sc),Z-Swing% (sc),Swing% (sc),O-Contact% (sc),Z-Contact% (sc),Contact% (sc),Zone% (sc),Pace,Def,wSB,UBR,Age Rng,Off,Lg,wGDP,Pull%,Cent%,Oppo%,Soft%,Med%,Hard%,TTO%,CH% (pi),CS% (pi),CU% (pi),FA% (pi),FC% (pi),FS% (pi),KN% (pi),SB% (pi),SI% (pi),SL% (pi),XX% (pi),vCH (pi),vCS (pi),vCU (pi),vFA (pi),vFC (pi),vFS (pi),vKN (pi),vSB (pi),vSI (pi),vSL (pi),vXX (pi),CH-X (pi),CS-X (pi),CU-X (pi),FA-X (pi),FC-X (pi),FS-X (pi),KN-X (pi),SB-X (pi),SI-X (pi),SL-X (pi),XX-X (pi),CH-Z (pi),CS-Z (pi),CU-Z (pi),FA-Z (pi),FC-Z (pi),FS-Z (pi),KN-Z (pi),SB-Z (pi),SI-Z (pi),SL-Z (pi),XX-Z (pi),wCH (pi),wCS (pi),wCU (pi),wFA (pi),wFC (pi),wFS (pi),wKN (pi),wSB (pi),wSI (pi),wSL (pi),wXX (pi),wCH/C (pi),wCS/C (pi),wCU/C (pi),wFA/C (pi),wFC/C (pi),wFS/C (pi),wKN/C (pi),wSB/C (pi),wSI/C (pi),wSL/C (pi),wXX/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace (pi),FRM,AVG+,BB%+,K%+,OBP+,SLG+,ISO+,BABIP+,LD+%,GB%+,FB%+,HR/FB%+,Pull%+,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,EV,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
3,15640,2022,Aaron Judge,NYY,30,119,444,525,131,64,20,0,47,99,103,69,8,134,5,4,0,14,13,1,0.295,126,138,50,5,2207,868,1339,9,0,0,0.131,0.255,0.51,0.393,0.658,1.050,0.363,0.315,0.0091,0.159,0.401,0.439,0.036,0.341,0.071,0.0,0.437,53.1,113,55.3,4.0,15.7,-3.2,73.6,7.7,$61.7,4.5,194,4.94,-8.80,13.74,59.69,6.42,1.08,2.54,4,6.01,-1.43,0.427,93.9,0.266,84.6,0.068,87.9,0.080,80.6,0.123,85.0,0.037,88.2,NaN,NaN,0.011,NaN,32.6,11.1,2.0,4.6,0.5,-1.0,NaN,3.46,1.90,1.35,2.58,0.18,-1.24,NaN,0.275,0.670,0.429,0.530,0.861,0.732,0.390,0.589,0.115,1.1,0.274,NaN,0.063,0.026,NaN,0.150,0.267,0.071,0.013,0.001,0.134,NaN,NaN,NaN,94.3,NaN,87.7,88.3,NaN,93.3,84.9,79.6,81.3,51.6,85.2,NaN,NaN,-2.1,NaN,1.6,-6.7,NaN,-6.2,2.6,2.4,3.5,-4.3,0.4,NaN,NaN,9.8,NaN,4.3,2.3,NaN,5.1,1.4,-4.9,-6.3,7.2,4.7,NaN,NaN,23.9,NaN,-1.0,-0.3,NaN,7.1,13.7,3.9,0.4,0.9,-0.3,NaN,NaN,3.95,NaN,-0.72,-0.44,NaN,2.14,2.32,2.50,1.23,45.64,-0.12,NaN,NaN,0.235,0.645,0.431,0.461,0.838,0.731,0.477,24.8,0.8,1.7,0.0,30 - 30,56.3,0.7,-0.6,0.462,0.334,0.204,0.073,0.455,0.471,0.476,0.133,NaN,0.062,0.277,0.054,0.027,NaN,NaN,0.150,0.295,0.003,85.0,NaN,79.9,94.3,87.4,87.8,NaN,NaN,93.4,84.5,85.3,0.4,NaN,2.0,-1.8,1.7,-6.3,NaN,NaN,-5.8,3.3,1.1,3.5,NaN,-7.5,8.9,3.2,1.4,NaN,NaN,4.2,0.3,0.3,1.4,NaN,5.7,23.4,0.8,-0.8,NaN,NaN,6.7,10.7,-0.5,0.47,NaN,4.21,3.83,0.69,-1.34,NaN,NaN,2.03,1.64,-8.26,0.232,0.648,0.430,0.474,0.831,0.731,0.477,24.8,NaN,122,165,115,127,169,244,109,0.80,94,117,315,115,95,82,45,85,157,95.3,13.9,81,0.256,118.4,190,0.599,317,0.176,0.291,0.294,0.686,0.448
2,9218,2022,Paul Goldschmidt,STL,34,115,433,501,146,81,34,0,31,87,100,60,1,103,3,3,0,5,5,0,0.337,128,142,63,13,2062,784,1278,9,0,0,0.120,0.206,0.58,0.419,0.630,1.049,0.293,0.381,0.0090,0.189,0.384,0.426,0.092,0.218,0.070,0.0,0.445,53.7,111,54.9,-3.6,15.0,-9.1,61.7,6.5,$51.7,3.5,193,4.80,-7.25,12.04,67.31,7.19,1.01,3.65,1,5.82,-1.05,0.482,93.9,0.268,85.0,0.068,90.5,0.093,79.4,0.078,85.3,0.011,86.8,NaN,NaN,0.002,NaN,22.5,8.3,10.3,5.7,7.6,1.9,NaN,2.27,1.50,7.33,2.97,4.69,8.05,NaN,0.284,0.623,0.424,0.666,0.846,0.775,0.413,0.609,0.096,2.4,0.300,NaN,0.066,0.014,NaN,0.182,0.263,0.086,0.012,NaN,0.076,NaN,NaN,NaN,94.0,NaN,90.7,87.8,NaN,93.6,85.0,79.3,80.6,NaN,85.0,NaN,NaN,-2.1,NaN,0.8,-7.5,NaN,-5.5,2.4,1.8,2.8,NaN,-1.3,NaN,NaN,9.2,NaN,5.3,2.8,NaN,5.1,1.2,-5.0,-4.4,NaN,3.9,NaN,NaN,12.8,NaN,5.8,3.3,NaN,10.4,12.7,3.7,1.0,NaN,6.1,NaN,NaN,2.07,NaN,4.30,11.49,NaN,2.78,2.35,2.05,4.06,NaN,3.88,NaN,NaN,0.239,0.602,0.425,0.604,0.835,0.772,0.513,22.0,-12.6,0.4,0.6,34 - 34,57.3,2.1,1.4,0.375,0.375,0.249,0.141,0.511,0.348,0.387,0.073,NaN,0.086,0.313,0.064,0.016,NaN,NaN,0.169,0.279,NaN,85.2,NaN,79.3,94.2,90.6,87.0,NaN,NaN,93.5,85.0,NaN,-1.1,NaN,1.9,-1.6,0.9,-6.4,NaN,NaN,-6.0,2.8,NaN,2.8,NaN,-6.1,8.4,4.9,2.1,NaN,NaN,3.9,0.3,NaN,7.4,NaN,5.7,20.2,3.7,2.0,NaN,NaN,4.4,12.4,NaN,4.87,NaN,3.23,3.14,2.81,6.08,NaN,NaN,1.26,2.15,NaN,0.242,0.606,0.425,0.609,0.836,0.772,0.503,22.0,NaN,138,142,92,133,158,188,130,0.94,89,116,185,92,108,102,83,97,115,90.9,16.4,42,0.125,112.3,156,0.466,335,0.194,0.290,0.265,0.505,0.374
11,9777,2022,Nolan Arenado,STL,31,113,431,480,129,70,33,1,25,60,81,41,3,61,4,4,0,12,3,3,0.299,107,185,82,34,1807,648,1159,7,0,0,0.085,0.127,0.67,0.363,0.555,0.917,0.255,0.298,0.0058,0.219,0.286,0.495,0.184,0.135,0.065,0.0,0.390,30.5,86,31.6,13.0,14.3,0.2,59.6,6.2,$50.0,2.5,156,1.86,-8.48,10.33,27.89,2.89,1.01,5.51,1,2.61,-0.78,0.478,94.0,0.288,84.7,0.060,90.7,0.080,79.9,0.082,85.1,0.011,86.6,NaN,NaN,0.004,NaN,16.2,-0.9,5.8,3.0,1.1,0.9,NaN,1.87,-0.16,5.40,2.06,0.77,4.50,NaN,0.362,0.661,0.478,0.716,0.898,0.813,0.386,0.608,0.089,-1.5,0.283,NaN,0.066,0.012,NaN,0.191,0.281,0.069,0.014,NaN,0.083,NaN,NaN,NaN,94.1,NaN,90.8,87.1,NaN,93.7,84.7,79.4,81.3,NaN,85.1,NaN,NaN,-2.3,NaN,0.6,-7.0,NaN,-6.6,2.8,2.2,3.4,NaN,-0.8,NaN,NaN,9.2,NaN,5.4,1.9,NaN,4.7,1.0,-4.8,-6.1,NaN,4.3,NaN,NaN,12.2,NaN,3.6,1.8,NaN,3.5,1.4,-0.3,2.1,NaN,1.0,NaN,NaN,2.38,NaN,3.00,8.04,NaN,1.02,0.28,-0.20,8.19,NaN,0.70,NaN,NaN,0.317,0.654,0.478,0.662,0.895,0.815,0.477,24.4,13.2,-1.1,0.2,31 - 31,30.1,2.0,-0.6,0.484,0.316,0.201,0.198,0.476,0.326,0.265,0.080,NaN,0.077,0.293,0.060,0.014,NaN,NaN,0.187,0.290,NaN,85.2,NaN,79.6,94.4,90.3,86.1,NaN,NaN,93.6,84.7,NaN,-0.6,NaN,2.4,-1.9,0.8,-6.0,NaN,NaN,-6.5,3.4,NaN,3.2,NaN,-6.0,8.4,4.9,1.9,NaN,NaN,3.7,0.2,NaN,0.5,NaN,0.6,11.2,3.7,1.5,NaN,NaN,5.8,2.1,NaN,0.36,NaN,0.40,2.12,3.40,5.94,NaN,NaN,1.72,0.41,NaN,0.320,0.650,0.478,0.658,0.899,0.815,0.480,24.4,NaN,123,102,57,115,139,164,102,1.09,66,134,115,118,91,82,116,90,108,88.9,22.8,32,0.086,111.4,149,0.398,374,0.164,0.253,0.267,0.451,0.340
14,11493,2022,Manny Machado,SDP,29,113,434,486,131,77,31,1,22,77,76,49,8,96,1,2,0,10,7,1,0.302,136,137,67,23,1796,664,1132,9,0,0,0.101,0.198,0.51,0.372,0.530,0.902,0.228,0.343,0.0099,0.197,0.400,0.403,0.168,0.161,0.066,0.0,0.384,28.4,84,29.3,5.2,14.5,0.0,54.1,5.7,$45.3,4.4,151,4.27,-7.07,11.34,36.63,3.87,0.96,3.47,2,2.95,1.51,0.515,93.7,0.229,85.0,0.057,89.8,0.072,80.0,0.115,85.3,0.012,85.6,NaN,NaN,0.016,NaN,3.4,10.5,0.0,3.8,7.5,3.4,NaN,0.36,2.56,0.04,2.91,3.66,16.06,NaN,0.339,0.764,0.502,0.659,0.863,0.778,0.384,0.634,0.111,3.0,0.287,NaN,0.064,0.014,NaN,0.225,0.219,0.060,0.018,0.001,0.111,NaN,NaN,NaN,93.7,NaN,90.1,87.1,NaN,93.5,85.0,79.7,82.0,32.3,85.1,NaN,NaN,-2.0,NaN,0.7,-7.5,NaN,-5.4,2.1,2.0,1.7,-0.6,-0.2,NaN,NaN,9.1,NaN,5.4,2.5,NaN,5.5,1.4,-4.8,-5.4,6.4,3.7,NaN,NaN,-2.7,NaN,0.4,2.6,NaN,6.2,8.9,2.2,1.6,0.0,7.6,NaN,NaN,-0.53,NaN,0.38,10.04,NaN,1.52,2.26,2.09,5.00,3.73,3.78,NaN,NaN,0.305,0.709,0.502,0.611,0.850,0.776,0.488,23.4,5.3,0.5,1.8,29 - 29,32.3,2.0,0.7,0.426,0.338,0.235,0.182,0.441,0.376,0.344,0.111,NaN,0.067,0.299,0.063,0.015,NaN,NaN,0.213,0.231,NaN,84.8,NaN,80.0,94.0,90.2,87.1,NaN,NaN,93.2,84.9,NaN,0.3,NaN,2.8,-1.5,1.1,-7.0,NaN,NaN,-5.3,2.7,NaN,2.7,NaN,-6.3,8.4,4.4,0.9,NaN,NaN,4.2,0.3,NaN,7.6,NaN,3.3,-1.0,0.0,2.5,NaN,NaN,4.5,10.0,NaN,3.80,NaN,2.75,-0.19,0.01,9.31,NaN,NaN,1.18,2.40,NaN,0.308,0.710,0.502,0.615,0.851,0.776,0.483,23.4,NaN,124,120,88,118,132,146,117,0.98,93,109,136,104,97,97,107,84,124,91.3,15.4,33,0.097,112.4,167,0.491,340,0.128,0.239,0.265,0.447,0.340
9,5361,2022,Freddie Freeman,LAD,32,121,470,539,151,93,40,2,16,85,74,58,7,81,5,6,0,4,10,2,0.321,150,134,111,4,2097,805,1292,10,0,0,0.108,0.150,0.72,0.397,0.517,0.914,0.196,0.356,0.0112,0.281,0.380,0.339,0.030,0.119,0.067,0.0,0.391,34.5,96,34.8,2.8,16.1,-9.0,52.5,5.5,$44.0,4.8,155,1.86,-7.63,9.49,47.69,4.89,0.90,NaN,0,3.05,-1.00,0.467,93.8,0.219,84.9,0.076,88.9,0.085,80.2,0.135,86.4,0.018,87.6,NaN,NaN,0.011,NaN,17.8,6.2,7.8,0.6,6.2,1.7,NaN,1.82,1.35,4.93,0.32,2.18,4.50,NaN,0.318,0.757,0.495,0.759,0.870,0.827,0.403,0.596,0.085,5.5,0.302,NaN,0.090,0.021,NaN,0.165,0.194,0.076,0.021,NaN,0.132,NaN,NaN,NaN,94.2,NaN,88.8,88.2,NaN,92.9,85.1,79.4,81.2,NaN,86.2,NaN,NaN,-2.1,NaN,0.4,-6.3,NaN,-1.1,0.1,1.9,1.6,NaN,-5.3,NaN,NaN,8.7,NaN,4.9,2.7,NaN,5.3,1.1,-4.2,-3.8,NaN,3.6,NaN,NaN,11.4,NaN,8.5,1.2,NaN,4.6,6.3,-1.9,1.1,NaN,6.4,NaN,NaN,1.80,NaN,4.51,2.76,NaN,1.35,1.54,-1.18,2.39,NaN,2.32,NaN,NaN,0.283,0.714,0.495,0.723,0.866,0.824,0.490,22.3,-6.2,0.6,2.7,32 - 32,40.3,2.2,2.2,0.342,0.344,0.314,0.101,0.542,0.357,0.288,0.126,NaN,0.082,0.302,0.089,0.026,NaN,NaN,0.166,0.209,NaN,86.4,NaN,79.8,94.5,88.9,87.2,NaN,NaN,92.7,84.7,NaN,-4.8,NaN,2.4,-1.8,0.5,-5.6,NaN,NaN,-0.8,0.5,NaN,2.6,NaN,-5.2,8.4,4.3,2.7,NaN,NaN,4.2,0.2,NaN,5.8,NaN,0.9,9.8,7.5,1.6,NaN,NaN,6.9,5.1,NaN,2.20,NaN,0.55,1.55,4.05,2.89,NaN,NaN,1.98,1.16,NaN,0.295,0.705,0.495,0.718,0.871,0.824,0.488,22.3,NaN,132,128,67,126,129,126,122,1.40,88,92,101,84,99,129,59,103,118,91.5,14.1,38,0.096,112.3,185,0.468,395,0.122,0.207,0.316,0.542,0.403

In [32]:
pd.set_option('display.max_rows', 10)

pd.set_option('display.max_columns', 500)
batting_2022 = batting_2022[['Name', 'Season', 'Age', 'H', 'R', 'RBI', 'BB', 'SO', 'SB', 'OPS']]

In [33]:
batting_2022.head()

                Name  Season  Age    H   R  RBI  BB   SO  SB    OPS
3        Aaron Judge    2022   30  131  99  103  69  134  13  1.050
2   Paul Goldschmidt    2022   34  146  87  100  60  103   5  1.049
11     Nolan Arenado    2022   31  129  60   81  41   61   3  0.917
14     Manny Machado    2022   29  131  77   76  49   96   7  0.902
9    Freddie Freeman    2022   32  151  85   74  58   81  10  0.914

In [34]:
from pybaseball import bwar_bat

# get war stats from baseball reference 
bwar_bat = bwar_bat()

# remove excess stats; just need salary
cols_to_remove = ['runs_above_avg','runs_above_avg_off', 'runs_above_avg_def', 
                  'WAR_rep', 'WAA', 'WAR']

bwar_bat = bwar_bat.drop(columns = cols_to_remove)
bwar_bat.head()

,name_common,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,pitcher,G,PA,salary
0,David Aardsma,430911.0,aardsda01,2004,SFG,1,NL,Y,11,0.0,300000.0
1,David Aardsma,430911.0,aardsda01,2006,CHC,1,NL,Y,43,3.0,NaN
2,David Aardsma,430911.0,aardsda01,2007,CHW,1,AL,Y,2,0.0,387500.0
3,David Aardsma,430911.0,aardsda01,2008,BOS,1,AL,Y,5,1.0,403250.0
4,David Aardsma,430911.0,aardsda01,2009,SEA,1,AL,Y,3,0.0,419000.0

In [35]:
# filter bwar_bat 2022 and minimum 100 PA
bwar_bat_2022 = bwar_bat[(bwar_bat['year_ID'].between(2005, 2022)) & (bwar_bat['PA'] >= 100)]
bwar_bat_2022.sort_values(by = 'name_common')

,name_common,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,pitcher,G,PA,salary
30933,A.J. Ellis,454560.0,ellisaj01,2016,LAD,1,NL,N,53,161.0,NaN
30931,A.J. Ellis,454560.0,ellisaj01,2014,LAD,1,NL,N,93,347.0,3550000.0
30935,A.J. Ellis,454560.0,ellisaj01,2017,MIA,1,NL,N,51,163.0,2500000.0
30930,A.J. Ellis,454560.0,ellisaj01,2013,LAD,1,NL,N,115,448.0,2000000.0
30929,A.J. Ellis,454560.0,ellisaj01,2012,LAD,1,NL,N,133,505.0,490000.0
...,...,...,...,...,...,...,...,...,...,...,...
22759,Zack Cozart,446359.0,cozarza01,2018,LAA,1,AL,N,58,253.0,12666666.0
22760,Zack Cozart,446359.0,cozarza01,2019,LAA,1,AL,N,38,107.0,12666667.0
40821,Zack Granite,643335.0,graniza01,2017,MIN,1,AL,N,40,107.0,NaN
98711,Zack Short,670097.0,shortza01,2021,DET,1,AL,N,61,184.0,NaN
1601,Zoilo Almonte,501660.0,almonzo01,2013,NYY,1,AL,N,34,113.0,NaN

In [36]:
bwar_bat_2022['Avg Career Salary Difference'] = bwar_bat_2022['salary'].diff()
bwar_bat_2022 = bwar_bat_2022.fillna(0)
bwar_bat_2022

/var/folders/m4/85rmk51d0pd2_q6_wp0vplz40000gn/T/ipykernel_11288/59105520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bwar_bat_2022['Avg Career Salary Difference'] = bwar_bat_2022['salary'].diff()

,name_common,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,pitcher,G,PA,salary,Avg Career Salary Difference
158,Reggie Abercrombie,430631.0,abercre01,2006,FLA,1,NL,N,111,281.0,327000.0,0.0
215,CJ Abrams,682928.0,abramcj01,2022,SDP,1,NL,N,46,139.0,0.0,0.0
231,Bobby Abreu,110029.0,abreubo01,2005,PHI,1,NL,N,162,719.0,13100000.0,0.0
232,Bobby Abreu,110029.0,abreubo01,2006,NYY,2,AL,N,58,248.0,0.0,0.0
233,Bobby Abreu,110029.0,abreubo01,2006,PHI,1,NL,N,98,438.0,13600000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
119816,Mike Zunino,572287.0,zuninmi01,2017,SEA,1,AL,N,124,435.0,570000.0,0.0
119817,Mike Zunino,572287.0,zuninmi01,2018,SEA,1,AL,N,113,405.0,2975000.0,2405000.0
119818,Mike Zunino,572287.0,zuninmi01,2019,TBR,1,AL,N,90,289.0,4412000.0,1437000.0
119820,Mike Zunino,572287.0,zuninmi01,2021,TBR,1,AL,N,109,375.0,2000000.0,-2412000.0
119821,Mike Zunino,572287.0,zuninmi01,2022,TBR,1,AL,N,36,123.0,7000000.0,5000000.0

In [37]:
# get 2022 salaries only
salary_2022 = bwar_bat_2022[['name_common','salary', 'year_ID']]
salary_2022 = salary_2022[salary_2022['year_ID'] == 2022]
salary_2022

             name_common      salary  year_ID
215            CJ Abrams         0.0     2022
259           José Abreu  19666667.0     2022
365     Ronald Acuna Jr.  15000000.0     2022
392         Willy Adames   4600000.0     2022
637             Jo Adell         0.0     2022
...                  ...         ...      ...
118685  Mike Yastrzemski   3700000.0     2022
118756  Christian Yelich  26000000.0     2022
118764        Juan Yepez         0.0     2022
119483       Seby Zavala         0.0     2022
119821       Mike Zunino   7000000.0     2022

[418 rows x 3 columns]

In [38]:
# group by Name and find averages across all other features
bwar_bat_2022 = bwar_bat_2022.groupby(['name_common']).mean()
bwar_bat_2022 = bwar_bat_2022.drop(columns = ['mlb_ID', 'year_ID', 'stint_ID', 'G', 'PA'])
bwar_bat_2022 = bwar_bat_2022.reset_index()

In [39]:
bwar_bat_2022.head()

       name_common        salary  Avg Career Salary Difference
0       A.J. Ellis  1.606778e+06                  2.865556e+05
1  A.J. Pierzynski  4.945833e+06                  1.166667e+05
2       AJ Pollock  5.890833e+06                  1.694444e+06
3          AJ Reed  0.000000e+00                  0.000000e+00
4    Aaron Altherr  4.037500e+05                  1.137500e+04

In [40]:
# join batting_2022 onto bwar_bat_2022 (left join)
batting_merged = pd.merge(bwar_bat_2022, 
                          batting_2022, 
                          how='left',
                          left_on=['name_common'],right_on=['Name'])

In [41]:
batting_merged[batting_merged['name_common'] == 'Mike Zunino']

,name_common,salary,Avg Career Salary Difference,Name,Season,Age,H,R,RBI,BB,SO,SB,OPS
1174,Mike Zunino,1.998289e+06,716600.0,Mike Zunino,2022.0,31.0,17.0,7.0,16.0,6.0,46.0,0.0,0.499

In [42]:
batting_merged = batting_merged.dropna()
batting_merged

,name_common,salary,Avg Career Salary Difference,Name,Season,Age,H,R,RBI,BB,SO,SB,OPS
8,Aaron Hicks,4.438936e+06,-1.128079e+06,Aaron Hicks,2022.0,32.0,67.0,41.0,32.0,54.0,82.0,9.0,0.636
10,Aaron Judge,6.587683e+06,3.150000e+06,Aaron Judge,2022.0,30.0,131.0,99.0,103.0,69.0,134.0,13.0,1.050
15,Abraham Toro,0.000000e+00,0.000000e+00,Abraham Toro,2022.0,25.0,47.0,30.0,26.0,20.0,47.0,1.0,0.560
18,Adam Duvall,2.141562e+06,-5.312500e+05,Adam Duvall,2022.0,33.0,61.0,39.0,36.0,21.0,101.0,0.0,0.677
20,Adam Engel,8.946000e+05,2.896000e+05,Adam Engel,2022.0,30.0,47.0,29.0,14.0,11.0,62.0,11.0,0.617
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,Yoshi Tsutsugo,1.333333e+06,0.000000e+00,Yoshi Tsutsugo,2022.0,30.0,29.0,11.0,19.0,19.0,50.0,0.0,0.478
1649,Yu Chang,0.000000e+00,0.000000e+00,Yu Chang,2022.0,26.0,26.0,13.0,12.0,8.0,45.0,0.0,0.595
1650,Yuli Gurriel,8.857143e+06,1.085286e+06,Yuli Gurriel,2022.0,38.0,102.0,46.0,36.0,24.0,58.0,8.0,0.675
1653,Zach McKinstry,0.000000e+00,0.000000e+00,Zach McKinstry,2022.0,27.0,9.0,6.0,2.0,5.0,19.0,3.0,0.488
1654,Zack Collins,0.000000e+00,0.000000e+00,Zack Collins,2022.0,27.0,14.0,7.0,10.0,6.0,31.0,0.0,0.682

In [43]:
batting_merged = batting_merged.drop(columns = ['salary', 'name_common'])

In [44]:
batting_merged

,Avg Career Salary Difference,Name,Season,Age,H,R,RBI,BB,SO,SB,OPS
8,-1.128079e+06,Aaron Hicks,2022.0,32.0,67.0,41.0,32.0,54.0,82.0,9.0,0.636
10,3.150000e+06,Aaron Judge,2022.0,30.0,131.0,99.0,103.0,69.0,134.0,13.0,1.050
15,0.000000e+00,Abraham Toro,2022.0,25.0,47.0,30.0,26.0,20.0,47.0,1.0,0.560
18,-5.312500e+05,Adam Duvall,2022.0,33.0,61.0,39.0,36.0,21.0,101.0,0.0,0.677
20,2.896000e+05,Adam Engel,2022.0,30.0,47.0,29.0,14.0,11.0,62.0,11.0,0.617
...,...,...,...,...,...,...,...,...,...,...,...
1648,0.000000e+00,Yoshi Tsutsugo,2022.0,30.0,29.0,11.0,19.0,19.0,50.0,0.0,0.478
1649,0.000000e+00,Yu Chang,2022.0,26.0,26.0,13.0,12.0,8.0,45.0,0.0,0.595
1650,1.085286e+06,Yuli Gurriel,2022.0,38.0,102.0,46.0,36.0,24.0,58.0,8.0,0.675
1653,0.000000e+00,Zach McKinstry,2022.0,27.0,9.0,6.0,2.0,5.0,19.0,3.0,0.488
1654,0.000000e+00,Zack Collins,2022.0,27.0,14.0,7.0,10.0,6.0,31.0,0.0,0.682

In [45]:
salary_2022 = salary_2022.rename(columns = {'salary':'2022 Salary'})
salary_2022

             name_common  2022 Salary  year_ID
215            CJ Abrams          0.0     2022
259           José Abreu   19666667.0     2022
365     Ronald Acuna Jr.   15000000.0     2022
392         Willy Adames    4600000.0     2022
637             Jo Adell          0.0     2022
...                  ...          ...      ...
118685  Mike Yastrzemski    3700000.0     2022
118756  Christian Yelich   26000000.0     2022
118764        Juan Yepez          0.0     2022
119483       Seby Zavala          0.0     2022
119821       Mike Zunino    7000000.0     2022

[418 rows x 3 columns]

In [46]:
# join 2022 salaries
merged_salaries = pd.merge(salary_2022,
                           batting_merged, 
                           how='left',
                           left_on=['name_common'],right_on=['Name'])

In [47]:
merged_salaries

,name_common,2022 Salary,year_ID,Avg Career Salary Difference,Name,Season,Age,H,R,RBI,BB,SO,SB,OPS
0,CJ Abrams,0.0,2022,0.0,CJ Abrams,2022.0,21.0,33.0,16.0,14.0,4.0,34.0,2.0,0.560
1,José Abreu,19666667.0,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ronald Acuna Jr.,15000000.0,2022,2480000.0,Ronald Acuna Jr.,2022.0,24.0,93.0,54.0,32.0,43.0,91.0,25.0,0.779
3,Willy Adames,4600000.0,2022,0.0,Willy Adames,2022.0,26.0,88.0,60.0,70.0,36.0,118.0,5.0,0.737
4,Jo Adell,0.0,2022,0.0,Jo Adell,2022.0,23.0,39.0,13.0,16.0,10.0,70.0,4.0,0.626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,Mike Yastrzemski,3700000.0,2022,0.0,Mike Yastrzemski,2022.0,31.0,74.0,53.0,44.0,48.0,98.0,4.0,0.682
414,Christian Yelich,26000000.0,2022,2549500.0,Christian Yelich,2022.0,30.0,110.0,78.0,39.0,67.0,121.0,16.0,0.736
415,Juan Yepez,0.0,2022,0.0,Juan Yepez,2022.0,24.0,53.0,24.0,27.0,14.0,53.0,0.0,0.758
416,Seby Zavala,0.0,2022,0.0,Seby Zavala,2022.0,28.0,36.0,15.0,18.0,11.0,50.0,0.0,0.720
417,Mike Zunino,7000000.0,2022,716600.0,Mike Zunino,2022.0,31.0,17.0,7.0,16.0,6.0,46.0,0.0,0.499

In [48]:
merged_salaries.columns

Index(['name_common', '2022 Salary', 'year_ID', 'Avg Career Salary Difference',
       'Name', 'Season', 'Age', 'H', 'R', 'RBI', 'BB', 'SO', 'SB', 'OPS'],
      dtype='object')

In [49]:
batting_merged_2022 = merged_salaries[['Name', '2022 Salary', 'Avg Career Salary Difference', 'Age', 'H', 'R', 'RBI', 'BB', 'SO', 'SB', 'OPS' ]]

In [50]:
batting_merged_2022 = batting_merged_2022.dropna()

In [51]:
batting_merged_2022

,Name,2022 Salary,Avg Career Salary Difference,Age,H,R,RBI,BB,SO,SB,OPS
0,CJ Abrams,0.0,0.000000e+00,21.0,33.0,16.0,14.0,4.0,34.0,2.0,0.560
2,Ronald Acuna Jr.,15000000.0,2.480000e+06,24.0,93.0,54.0,32.0,43.0,91.0,25.0,0.779
3,Willy Adames,4600000.0,0.000000e+00,26.0,88.0,60.0,70.0,36.0,118.0,5.0,0.737
4,Jo Adell,0.0,0.000000e+00,23.0,39.0,13.0,16.0,10.0,70.0,4.0,0.626
5,Jesus Aguilar,7300000.0,7.193571e+05,32.0,96.0,36.0,48.0,27.0,104.0,1.0,0.677
...,...,...,...,...,...,...,...,...,...,...,...
413,Mike Yastrzemski,3700000.0,0.000000e+00,31.0,74.0,53.0,44.0,48.0,98.0,4.0,0.682
414,Christian Yelich,26000000.0,2.549500e+06,30.0,110.0,78.0,39.0,67.0,121.0,16.0,0.736
415,Juan Yepez,0.0,0.000000e+00,24.0,53.0,24.0,27.0,14.0,53.0,0.0,0.758
416,Seby Zavala,0.0,0.000000e+00,28.0,36.0,15.0,18.0,11.0,50.0,0.0,0.720
417,Mike Zunino,7000000.0,7.166000e+05,31.0,17.0,7.0,16.0,6.0,46.0,0.0,0.499

In [52]:
batting_merged_2022['2022 Salary'] = batting_merged_2022['2022 Salary'].replace(0, 700000)

In [53]:
batting_merged_2022

,Name,2022 Salary,Avg Career Salary Difference,Age,H,R,RBI,BB,SO,SB,OPS
0,CJ Abrams,700000.0,0.000000e+00,21.0,33.0,16.0,14.0,4.0,34.0,2.0,0.560
2,Ronald Acuna Jr.,15000000.0,2.480000e+06,24.0,93.0,54.0,32.0,43.0,91.0,25.0,0.779
3,Willy Adames,4600000.0,0.000000e+00,26.0,88.0,60.0,70.0,36.0,118.0,5.0,0.737
4,Jo Adell,700000.0,0.000000e+00,23.0,39.0,13.0,16.0,10.0,70.0,4.0,0.626
5,Jesus Aguilar,7300000.0,7.193571e+05,32.0,96.0,36.0,48.0,27.0,104.0,1.0,0.677
...,...,...,...,...,...,...,...,...,...,...,...
413,Mike Yastrzemski,3700000.0,0.000000e+00,31.0,74.0,53.0,44.0,48.0,98.0,4.0,0.682
414,Christian Yelich,26000000.0,2.549500e+06,30.0,110.0,78.0,39.0,67.0,121.0,16.0,0.736
415,Juan Yepez,700000.0,0.000000e+00,24.0,53.0,24.0,27.0,14.0,53.0,0.0,0.758
416,Seby Zavala,700000.0,0.000000e+00,28.0,36.0,15.0,18.0,11.0,50.0,0.0,0.720
417,Mike Zunino,7000000.0,7.166000e+05,31.0,17.0,7.0,16.0,6.0,46.0,0.0,0.499

In [54]:
batting_merged_2022.describe()

,2022 Salary,Avg Career Salary Difference,Age,H,R,RBI,BB,SO,SB,OPS
count,4.000000e+02,4.000000e+02,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,5.501797e+06,4.367989e+05,28.365000,67.602500,35.547500,34.320000,25.505000,67.282500,4.032500,0.696212
std,7.646633e+06,9.916590e+05,3.714332,32.303456,18.897501,19.487483,15.713282,29.067249,5.000897,0.108258
min,1.000000e+05,-5.537937e+06,21.000000,14.000000,4.000000,4.000000,1.000000,7.000000,0.000000,0.427000
25%,7.000000e+05,0.000000e+00,25.750000,40.000000,20.000000,19.000000,13.000000,45.000000,0.000000,0.619750
50%,1.477500e+06,0.000000e+00,28.000000,64.000000,32.000000,31.000000,22.000000,63.000000,2.000000,0.696000
75%,7.308334e+06,7.197274e+05,31.000000,93.000000,49.000000,46.250000,35.250000,89.000000,6.000000,0.768000
max,3.711667e+07,6.250000e+06,42.000000,151.000000,99.000000,103.000000,108.000000,163.000000,30.000000,1.138000

In [55]:
batting_merged_2022.sort_values(by = ['2022 Salary'], ascending = False)

,Name,2022 Salary,Avg Career Salary Difference,Age,H,R,RBI,BB,SO,SB,OPS
379,Mike Trout,37116666.0,3.052014e+06,30.0,80.0,55.0,52.0,40.0,101.0,1.0,0.948
305,Anthony Rendon,36571429.0,3.562143e+06,32.0,37.0,15.0,24.0,23.0,32.0,2.0,0.707
82,Carlos Correa,35100000.0,4.322912e+06,27.0,98.0,50.0,39.0,46.0,85.0,0.0,0.783
20,Nolan Arenado,35000000.0,3.450000e+06,31.0,129.0,60.0,81.0,41.0,61.0,3.0,0.917
207,Francisco Lindor,34100000.0,4.194962e+06,28.0,131.0,80.0,84.0,48.0,102.0,13.0,0.803
...,...,...,...,...,...,...,...,...,...,...,...
154,Eric Haase,700000.0,0.000000e+00,29.0,53.0,27.0,31.0,18.0,70.0,0.0,0.684
300,Cal Raleigh,700000.0,0.000000e+00,25.0,59.0,32.0,43.0,27.0,93.0,1.0,0.761
301,Harold Ramirez,700000.0,0.000000e+00,27.0,89.0,35.0,38.0,16.0,38.0,3.0,0.837
149,Trent Grisham,700000.0,0.000000e+00,25.0,75.0,50.0,47.0,52.0,112.0,5.0,0.665
304,Rob Refsnyder,100000.0,0.000000e+00,31.0,32.0,18.0,14.0,12.0,25.0,0.0,0.930

In [56]:
batting_merged_2022

,Name,2022 Salary,Avg Career Salary Difference,Age,H,R,RBI,BB,SO,SB,OPS
0,CJ Abrams,700000.0,0.000000e+00,21.0,33.0,16.0,14.0,4.0,34.0,2.0,0.560
2,Ronald Acuna Jr.,15000000.0,2.480000e+06,24.0,93.0,54.0,32.0,43.0,91.0,25.0,0.779
3,Willy Adames,4600000.0,0.000000e+00,26.0,88.0,60.0,70.0,36.0,118.0,5.0,0.737
4,Jo Adell,700000.0,0.000000e+00,23.0,39.0,13.0,16.0,10.0,70.0,4.0,0.626
5,Jesus Aguilar,7300000.0,7.193571e+05,32.0,96.0,36.0,48.0,27.0,104.0,1.0,0.677
...,...,...,...,...,...,...,...,...,...,...,...
413,Mike Yastrzemski,3700000.0,0.000000e+00,31.0,74.0,53.0,44.0,48.0,98.0,4.0,0.682
414,Christian Yelich,26000000.0,2.549500e+06,30.0,110.0,78.0,39.0,67.0,121.0,16.0,0.736
415,Juan Yepez,700000.0,0.000000e+00,24.0,53.0,24.0,27.0,14.0,53.0,0.0,0.758
416,Seby Zavala,700000.0,0.000000e+00,28.0,36.0,15.0,18.0,11.0,50.0,0.0,0.720
417,Mike Zunino,7000000.0,7.166000e+05,31.0,17.0,7.0,16.0,6.0,46.0,0.0,0.499

In [57]:
# save as csv
batting_merged_2022.to_csv('batting_merged_2022')